@import "tailwindcss";

canvas {
    background-image:
        linear-gradient(45deg, #444444 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #444444 75%),
        linear-gradient(45deg, transparent 75%, #444444 75%),
        linear-gradient(45deg, #444444 25%, #686868 25%);

    background-size: 20px 20px;

    background-position: 0 0, 0 0, -50px -50px, 50px 50px;
    cursor: url(cursors/pencil.cur), auto;
}
